.container{
	border:solid;
	height: 600px;
	margin: 0 auto;
	border-radius: 10px;
	width:900px;
	padding: 5px;
	text-align: center;
}
.capas{
	border: 1px solid #000;
	display: inline-block;
	height: 580px;
	width: 440px;	
	vertical-align: top;
}
#form{
	margin-top: 5px;
	border-bottom: 1px solid #000;
	height: 250px;
	text-align: left;
}
#data{
	text-align: left;
	overflow: auto;
}
#ubicacionesList{
	margin: 0;
	padding: 0;
	list-style: none;
}